

.card_product {


    .title {
        -webkit-text-decoration: none;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-align: left;
      
    }

    .desc {
        -webkit-text-decoration: none;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: left;
        margin-bottom: 7.68px;
        padding-top: 0px;
    
    }

    &:hover {
   
    }
}